.navi{
    display: inline;
}
.linkdeco{
    text-decoration: none;
}
.link1{
    margin-left: 315px;
    color: white;
    font-weight: 100;
    text-decoration: none;
}
.logo{
    margin-left: 311px;
}
.head{
    height: 66px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
   
}
.headup{
    height: 46px;
    width:100%;
    background-color: #ffffff;
   
}
.brand{
    text-align: center;
    margin-top: 108px;
}
.para{
    text-align: center;
}
.support{
    display: inline-block;
    border: black 2px solid;
    height: 250px;
    width: 501px;
    text-align: center;
    margin-left: 310px;
    border-radius: 6px;
    
    
}
.support2{
    display: inline-block;
    border: black 2px solid;
    height: 250px;
    width: 501px;
    text-align: center;
    justify-content: space-between;
    margin-left: 27px;
    border-radius: 6px;
}
.foot{
margin-top: 20px;
    height: 635px;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0;
    
}
.foot2{
        margin-top: 20px;
        height: 148px;
        bottom: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin-bottom: 0;
        margin-left: 346px;
        
    }
    .link{
        color: white;
        font-weight: 100;
        text-decoration: none;
    }
    .title{
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 314px;
        margin-top: 67px;
        text-decoration: 3px underline;
        text-decoration-color: white ;
        padding-bottom: 15px;
      margin-bottom: 50px;
      text-decoration: none;
    }
    .title2{
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 314px;
        margin-top: 67px;
        text-decoration: 3px underline;
        text-decoration-color: white ;
        padding-bottom: 15px;
      margin-bottom: 50px;
      text-decoration: none;
    }
    .title3{
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 314px;
        margin-top: 67px;
        text-decoration: 3px underline;
        text-decoration-color: white ;
        padding-bottom: 15px;
      margin-bottom: 50px;
      text-decoration: none;
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    .child{
        color: greenyellow;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .child2{
        color: rgb(129, 129, 129);
        margin-bottom: 30px;
        margin-left: 20px;
        text-decoration: none;
        display: inline;
    }